.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 10%;
  }

  .cartpage-title{
    color: aliceblue;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 30px;
    line-height: 30%;
}

.product-name {
  font-size: 20px;
  margin: 5px 0;
  margin-top: 10px;
  margin-left: 10px;
  color: black;
}

.product-price {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.348);
  font-weight: bold;
  font-size: 18px;
  margin-left: 70px;
  border-radius: 5px;
  width: 50%;
  color: white /* You can change the color as needed */
}

.product-containerrr {
  width: 300px;
  height: 500px;
  box-sizing: border-box; 
  padding: 10px;
  padding-top: 20px;
  float: left; 
  border: 0px solid #ddd; 
  border-radius: 30px;
  background-color: #f9f9f969; 
  margin-left: 104px; 
  margin-bottom: 60px;
}

  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-size: cover ;
    background-image: url("https://res.cloudinary.com/dg2jouca2/image/upload/v1708424915/pexels-matej-1718168_tljlyr.jpg"); 
    background-attachment: fixed;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgb(93, 61, 61), rgb(224, 224, 223));
  }
  
  .product-image {
    width: 250px;
    border-radius: 20px;
    height: 250px;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .action-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  

  .buybutton{
    padding: 0;
  }

  .icon {
    cursor: pointer;
  }

  .buybutton, .action-icons {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px; 
}

  .button-container {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }