
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-size: cover ;
    background-image: url("https://res.cloudinary.com/dg2jouca2/image/upload/v1708424915/pexels-matej-1718168_tljlyr.jpg"); 
    background-attachment: fixed;
  }
  
  
  .form-box {
    width: 420px;
    height: auto; /* Adjust height automatically */
    background: rgba(236, 231, 231, 0.8); /* Add transparency */
    border: 2px solid rgba(20, 18, 18, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 30px 40px;
  }
  
  .form-box h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px; /* Adjust margin for better spacing */
  }
  
  .input-group {
    margin-left: -15px;
    width: 350px;
  }
  
  .input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid rgba(15, 2, 2, 0);
    background: transparent;
    border-radius: 15px;
    border: #333;
    font-size: 16px;
    color: #181818;
  }
  
  .title{
    color: black;

  }
  .submit-btn {
    width: 60%;
    padding: 15px;
    margin-top: 20px; /* Adjust margin for better spacing */
    background: #b41c1c;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease; 
  }
  
  .submit-btn:hover {
    background: black; 
  }
  
  .reg1 {
    text-align: center;
    margin-top: 30px; 
    color: white;
  }
  
  .reg1 a {
    color: #b41c1c; 
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  .reg1 a:hover {
    color: black;
    background-color: #ffffff00; 
  } 
  